@import '~bootstrap/dist/css/bootstrap.min.css';
@import "ToolBar";

body, .screen {
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}

.snapshot-image {
    height: 100vh;
}