.creature {

    padding: 10px 10px 0 10px;

    .health-bar {
        min-width: 150px;

        .progress {
            min-height: 31px;
            height: 100%;
            border-radius: 0px;

            .progress-bar {
                background-color: #681717;
            }
        }
    }

    .btn-sm {
        border-radius: 0px;
    }

}