.creature {
    position: fixed;
    min-width: 200px;
    min-height: 31px;
    z-index: 100;

    padding: 0px;

    .health-bar {
        height: 100%;
        width: 100%;

        .progress {
            min-height: 31px;
            height: 100%;
            border-radius: 0px;
            background-color: black;

            .progress-bar {
                background-color: #681717;
            }
        }
    }

    .btn-sm {
        border-radius: 0px;
        min-width: 30px;
    }

}