.map {
    position: relative;
    width: auto;
    height: 100%;

    .navbar {
        position: absolute;
        top: 0px;
        width: 100%;
    }

    .background-image {
        img {
            max-width: 100%;
            height: 100%;
        }
    }

}